body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  flex-direction: column;
}
#profile__img{
  border-radius: 50%;
  width: 88px;
  height: 88px;
}
.links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  
}
button{
  margin: 24px 114px; 
  width: 1152px;
  padding: 24px 55px;
  border: none;
  
}
a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  line-height: 28px;

  
}
@media (max-width: 500px){
  .profile .links{
    flex-direction: column;
    align-items: center;
    
  }
  
}